.h1Text{
    text-align: center;
}

.pText{
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
}

.pAcc{
    text-align: center;
    margin-top: 30px;
    color: rgba(122, 41, 122, 0.76);
    font-size: 26px;
    font-weight: 800;
}